.odl-empres {
    position: absolute;
    left:0;
    right: 0;
    top: 50px;
    margin:auto;

    &__text {
        text-align: center;
        font-size: 25px;
    }

    &__icon {
        text-align: center;
        &--img {
            width: 150px;
            height: auto;
        }
    }
}